<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="alert alert-danger" role="alert" style="display: none;" id="error-message">
            <!-- Error messages will go here -->
        </div>
        <div class="alert alert-success" role="alert" style="display: none;" id="success-message">
            <!-- Success messages will go here -->
        </div>
        @RenderBody()
    </div>
</body>
</html>
